body {
  margin: 0 auto;
  text-align: center;
  font-size: 62.5%;
}

#timerContainer {
  font-size: 7.2em;
  color: #212020;
  margin: 30px 0;
}

button {
  font-family: "Open Sans";
  font-size: 1.8em;
  width: 70px;
  height: 40px;
  background: #D46A6A;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  margin: 1em;
  border: 1px solid #212020;
  border-radius: 50%;
  height: 70px;
}
button:focus {
  outline: 0;
}

button:hover {
  background: #FFFFFF;
  color: #212020;
  transition: 0.3s;
}

.history-box {
  width: 400px;
  font-size: 1.4em;
  margin: 40px auto;
}

.info-box {
  width: 600px;
  font-size: 1.8em;
  margin: 0;
}

#info {
  position: relative;
  display: inline-block;
  border: 1px solid #212020;
  color: #212020;
  background: #F8F8F8;
  width: 40px;
  height: 40px;
  cursor: default;
}

.info-container {
  text-align: left;
}

#info .info-box {
    visibility: hidden;
    width: 600px;
    background-color: #212020;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
}

#info:hover .info-box {
    visibility: visible;
}

#sound {
  display: inline-block;
  border: 1px solid #212020;
  color: #212020;
  background: #F8F8F8;
  width: 70px;
  height: 70px;
  cursor: default;
}
